# emacs autosave file
\#*\#
# backup file
*~
# Java
bin/
# Java
.classpath
# emacs lisp compiled file
*.elc
# git
*gitignored*
# Java
.metadata
# C, etc.
*.o
# C, etc.
*.out
# Java
.project
# Python compiled file
*.pyc
# Java
.settings/

