# emacs autosave file
\#*\#
# backup file
*~
# Java
bin/
# Java
*.class
# Java
.classpath
# emacs lisp compiled file
*.elc
# git
*gitignored*
# Haskell
*.hi
# IPython Notebook
.ipynb_checkpoints/
# Java
.metadata
# C, etc.
*.o
# C, etc.
*.out
# Java
.project
# Python compiled file
*.pyc
# Java
.settings/

